<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <embed name="GoodEnough" src="/sounds/background_music.mp3" loop="true" autostart="true" height="0" class="back-music">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/popup.css">
	<link rel="stylesheet" href="/css/bootstrap.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/animate.css">
	<script type="text/javascript">
		// var host = "https://e-match.herokuapp.com/";
		var host = "http://localhost:3000";
		var isLogin = "<%= user ? user['id'] : '' %>";
		var email = "<%= user ? user['email'] : '' %>";
		var username = "<%= user ? user['username'] : '' %>";
		var points = "<%= user ? user['points'] : '' %>";
		var rank = "<%= user ? user['rank'] : '' %>";
		var questions = "";
		var current_question = 0;
		var correct_answer = 0;
		var wrong_answer = 0;
		var item_finished = 0;
		var minute = 4;
		var seconds = 60;
		var removeInterval = false;
		var gameDone = false;
	</script>
</head>
<body>
	<div class="main-wrapper">
		<audio controls  loop hidden id="myAudio">
			<source src="/sounds/background_music.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
		<div class="popup-logged-user">
		</div>
		<div class="page-loading">
			<div>
				<img src="../images/main_logo.png" alt="" class="animated bounce"><br>
				<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
			</div>
		</div>
		<div class="searching-enemy-loading">
			<span>
				FINDING MATCH
			</span>
			<span>
				<img src="images/match-loading.gif" alt="">
			</span>
			<span class="close-find-match">
				<i class="fa fa-times"></i>
			</span>
		</div>
		<div class="child-wrapper">
			<% if(user['email']){ %>
			     <% include home %> 
			<% } else{ %>  
				<div class="login-content">
					<img src="images/main_logo.png">
					<p>PvP Online Quiz Battle</p><%=user['id']%>
					<div class="login-form-input form-box">
						<input type="text" name="" placeholder="Username" class="log-username"><br>
						<input type="password" name="" placeholder= "Password" class="log-password">
					</div>
					<img src="images/login_btn.png" id="login-btn">
					<p class="signup-btn" id="register-btn">SIGN UP</p>
				</div>
			<% } %>
		</div>
		<div>
			<% if(user['email']){ %>
			     <% include demo %> 
			<% } %>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/popup.js"></script>
<script type="text/javascript" src="/js/ematch.js"></script>
<script type="text/javascript" src="/js/countimer.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/animatenumber.min.js"></script>
</html>