<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/home.png" id="match-dir-home"><br>
	</div>
	<div class="logo-area footer-logo-area">
		<h1 class="footer-header-title">SETTINGS</h1>
	</div>
</div>
<div class="settings-content">
	<div class="profile-details">
		<img src="images/profile.png">
		<div class="user-level-status">
			<small>Change Avatar</small>
		</div>
	</div>
	<div class="edit-user-info">
		<div class="container">
			<div class="edit-personal-info edit-head-box">
				<div class="row">
					<div class="col-12 edit-title-box">
						<span class="active">Personal info</span>
					</div>
				</div>
				<div class="row edit-box-content">
					<div class="col-6">
						<div class="form-box">
							<input data-validation="length alphanumeric" class="first-name" placeholder="first name" value="<%=data['fname']%>">
						</div>
					</div>
					<div class="col-6">
						<div class="form-box">
							<input type="text" class="last-name" placeholder="last name" 
							value="<%=data['lname']%>">
						</div>
					</div>
					<div class="col-6">
						<div class="form-box">
							<input type="email" class="envelope" placeholder="email"
							value="<%=data['email']%>">
						</div>
					</div>
					<div class="col-6">
						<div class="form-box">
							<input type="email" class="envelope" placeholder="Email" value="<%=data['course']%>">
						</div>
					</div>
					<div class="col-12 text-right save-changes-box">
						<img src="images/save_changes.png" alt="">
					</div>
				</div>
			</div>
			<div class="edit-security-info edit-head-box">
				<div class="row">
					<div class="col-md-12 edit-title-box">
						<span>Security info</span>
					</div>
				</div>
				<div  class="edit-box-content hide-content">
					<div class="row">
						<div class="col-12">
							<div class="form-box">
								<input type="text" class="username" placeholder="username"
								value="<%=data['username']%>">
							</div>
						</div>
						<div class="col-6">
							<div class="form-box">
								<input type="password" class="password" placeholder="password">
							</div>
						</div>
						<div class="col-6">
							<div class="form-box">
								<input type="password" class="c-password" placeholder="confirm password">
							</div>
						</div>
						<div class="col-12 text-right save-changes-box">
							<img src="images/save_changes.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="edit-game-info edit-head-box">
				<div class="row">
					<div class="col-12 edit-title-box">
						<span>Game Settings</span>
					</div>
				</div>
				<div  class="edit-box-content hide-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="game-status-option">
								<i class="fa fa-user-circle"></i>
								<p>I want to sign-out</p>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="game-status-reset">
								<i class="fa fa-refresh"></i>
								<p>Reset</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <% include ../demo %> -->